@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.search-container{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.search-container form {
    display: flex;
    position: relative;
    height: 60px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.103);
}
.search-input::placeholder{
    color: rgb(219, 212, 212);
    user-select: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.search-input{
    color: rgb(219, 212, 212);
    border-radius: 5px 0px 0px 5px;
    border: none;
    background-color: rgb(64, 83, 100);
    border-right: 1px solid rgba(114, 107, 107, 0.082);
    box-shadow: 1px 0 8px -3px rgb(56, 56, 56);
    z-index: 1;
    font-size: 30px;
    padding: 0px 0px 0px 5px;
    width: 90px;
    transition: width 0.5s;
}
.search-input:focus {
    border-radius: 5px 0px 0px 5px;
    outline: none;
    width: 250px;
}

.search-input-button{
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(163, 161, 161);
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(64, 83, 100);
    z-index: 0;
    width: 40px;
    /* mobile */
    /* width: 16vw; */
    /* font-size: 4vh; */
    padding: 2px;
}
.search-input-button:hover{
    background-color: rgb(80, 105, 128);
}
.search-input:placeholder-shown + .search-input-button{
    pointer-events: none;
}
.search-input:not(:placeholder-shown){
    width: 230px;
}